name: Trigger auto deployment for notifications-service

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches:
      [ main ]
    paths:
    - 'backend/notifications-service/**'
    - '.github/workflows/notifications-service-AutoDeployTrigger.yml'

  # Allow manual trigger
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/backend/notifications-service
          registryUrl: innovationplatformacr.azurecr.io
          registryUsername: ${{ secrets.NOTIFICATIONSSERVICE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.NOTIFICATIONSSERVICE_REGISTRY_PASSWORD }}
          containerAppName: notifications-service
          resourceGroup: innovation-platform-rg
          imageToBuild: innovationplatformacr.azurecr.io/notifications-service:${{ github.sha }}
